<div class="site-section site-section-secondary">
  <div class="site-section-inside">

    <div class="section-header">
      <h2>What the people say</h2>
    </div>

    <div class="testimonial-box">
      <div class="testimonial-content">
        Their service is by far the most influential I've ever seen.
      </div>
      <div class="testimonial-author">
        <img src="../../assets/img/david.jpg" alt="David East">
        <h5>David East</h5>
        <span>King of Firebase</span>
      </div>
    </div>

    <div class="testimonial-box">
      <div class="testimonial-content">
        Their service is by far the most influential I've ever seen.
      </div>
      <div class="testimonial-author">
        <img src="../../assets/img/holly.jpg" alt="Holly Lloyd">
        <h5>Holly Lloyd</h5>
        <span>Queen of Scotch</span>
      </div>
    </div>

    <div class="testimonial-box">
      <div class="testimonial-content">
        Their service is by far the most influential I've ever seen.
      </div>
      <div class="testimonial-author">
        <img src="../../assets/img/ryan.jpeg" alt="Ryan Chenkie">
        <h5>Ryan Chenkie</h5>
        <span>King of Auth0</span>
      </div>
    </div>

  </div>
</div>
