<div class="site-section">
  <div class="site-section-inside">

    <div class="section-header">
      <h2>Key Features</h2>
    </div>

    <div class="feature-box">
      <img src="../../assets/img/like.png" alt="Easy to Use">
      <h5>Easy to Use</h5>
      <p>Just think of how easy this is to use. Toddlers can do it. So can you!</p>
    </div>

    <div class="feature-box">
      <img src="../../assets/img/faces.png" alt="Fun to Use">
      <h5>Fun to Use</h5>
      <p>Just think of how easy this is to use. Toddlers can do it. So can you!</p>
    </div>

    <div class="feature-box">
      <img src="../../assets/img/heart.png" alt="Fun to Use">
      <h5>You'll Love It</h5>
      <p>Just think of how easy this is to use. Toddlers can do it. So can you!</p>
    </div>

  </div>
</div>
<app-testimonials></app-testimonials>
